.sobre-mi{
    margin-top: 40px; 
   /* margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
    /*width:  90%;*/
	
	/* margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
	 /*width:  90%;*/
	 font-size: 28px;
 
	 text-align: center;
	 color: rgb(104, 104, 104);
	
    color: rgb(34, 34, 34);
	
}


.container-card{
    transform: translateY(60px);
	width: 100%;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 60px;
	max-width: 1150px;
	margin: auto;
}


.card{
    
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-2%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
    
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	/*color: #7a7a7a;*/
	color: #303030;
	font-size: 22px;
}

.card .contenido-card h4{
	transform: translateY(-10px);
	color: #7d7d7d;
}

.card .contenido-card p{
	line-height: 1.5;
	margin-top: 10px;
	color: #525252;
	font-size: 14px;
	margin-bottom: -5px;
}
/*
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	background-color: #4285f4;  
    color: #fff;
	border: 1px solid #4285f4;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background-color: #185bc5;/* Cambia el color de fondo al hacer hover
  color: #fff;
}*/

@media only screen and (min-width:320px) and (max-width:768px){
	.container-proyectos{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}